<!--
 * @Description : 
 * @Date        : 2022-04-18 20:21:47 +0800
 * @Author      : JackChou
 * @LastEditTime: 2022-04-18 20:23:05 +0800
 * @LastEditors : JackChou
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hello-koa</title>
  </head>
  <body>
    <form action="/register" method="post">
      <input name="name" type="text" placeholder="请输入用户名" />
      <br />
      <input name="password" type="text" placeholder="请输入密码" />
      <br />
      <button>{{buttonText}}</button>
    </form>
  </body>
</html>
